html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */
    background-color: #00539F;
  }

body {
    width: 600px;
    margin: 0 auto;
    background-color: #FF9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539F;
    text-shadow: 3px 3px 1px black;
    font-size: 60px;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  form li + li {
    margin-top: 1em;
  }

  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }

  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;

    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;

    /* Match form field borders */
    border: 1px solid #999;
  }

  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }

  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;

    /* Provide space to type some text */
    height: 5em;
  }

  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }

  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: .5em;
  }