function Main.main 6
push constant 12
call String.new 1
push constant 82
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 66
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 82
call String.appendChar 2
pop local 0
push local 0
call Hand.new 1
pop local 1
push local 1
call Hand.hand_to_dict 1
pop local 2
push local 2
call Dictionary.getKeys 1
pop local 3
push local 2
call Dictionary.getValues 1
pop local 4
push constant 0
pop local 5
label WHILE_EXP0
push local 5
push local 2
call Dictionary.getLength 1
lt
not
if-goto WHILE_END0
push local 5
push local 3
add
pop pointer 1
push that 0
call Output.printChar 1
pop temp 0
push local 5
push local 4
add
pop pointer 1
push that 0
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push local 5
push constant 1
add
pop local 5
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
