function Handlist.create 1
push constant 50
call Array.new 1
pop local 0
push constant 0
push local 0
add
push constant 8
call String.new 1
push constant 69
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 70
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 66
call String.appendChar 2
push constant 70
call String.appendChar 2
push constant 90
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push constant 8
call String.new 1
push constant 79
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 87
call String.appendChar 2
push constant 74
call String.appendChar 2
push constant 70
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 74
call String.appendChar 2
push constant 66
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 0
add
push constant 8
call String.new 1
push constant 69
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 90
call String.appendChar 2
push constant 70
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 78
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 0
add
push constant 8
call String.new 1
push constant 73
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 66
call String.appendChar 2
push constant 87
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 67
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 0
add
push constant 8
call String.new 1
push constant 73
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 90
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 71
call String.appendChar 2
push constant 81
call String.appendChar 2
push constant 84
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 0
add
push constant 8
call String.new 1
push constant 65
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 70
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 70
call String.appendChar 2
push constant 67
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push local 0
add
push constant 8
call String.new 1
push constant 73
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 74
call String.appendChar 2
push constant 90
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 71
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push local 0
add
push constant 8
call String.new 1
push constant 85
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 74
call String.appendChar 2
push constant 88
call String.appendChar 2
push constant 88
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 90
call String.appendChar 2
push constant 68
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push local 0
add
push constant 8
call String.new 1
push constant 73
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 90
call String.appendChar 2
push constant 89
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 87
call String.appendChar 2
push constant 86
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push local 0
add
push constant 8
call String.new 1
push constant 69
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 71
call String.appendChar 2
push constant 66
call String.appendChar 2
push constant 75
call String.appendChar 2
push constant 82
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push local 0
add
push constant 8
call String.new 1
push constant 65
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 66
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 71
call String.appendChar 2
push constant 83
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push local 0
add
push constant 8
call String.new 1
push constant 65
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 88
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 88
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 78
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push local 0
add
push constant 8
call String.new 1
push constant 85
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 82
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push local 0
add
push constant 8
call String.new 1
push constant 69
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 87
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 87
call String.appendChar 2
push constant 68
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push local 0
add
push constant 8
call String.new 1
push constant 65
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 88
call String.appendChar 2
push constant 89
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 75
call String.appendChar 2
push constant 90
call String.appendChar 2
push constant 67
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push local 0
add
push constant 8
call String.new 1
push constant 85
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 74
call String.appendChar 2
push constant 76
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
push local 0
add
push constant 8
call String.new 1
push constant 85
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 89
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 70
call String.appendChar 2
push constant 87
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 17
push local 0
add
push constant 8
call String.new 1
push constant 73
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 88
call String.appendChar 2
push constant 74
call String.appendChar 2
push constant 81
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 74
call String.appendChar 2
push constant 82
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 18
push local 0
add
push constant 8
call String.new 1
push constant 79
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 67
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 19
push local 0
add
push constant 8
call String.new 1
push constant 69
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 90
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 89
call String.appendChar 2
push constant 74
call String.appendChar 2
push constant 88
call String.appendChar 2
push constant 67
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 20
push local 0
add
push constant 8
call String.new 1
push constant 65
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 68
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 21
push local 0
add
push constant 8
call String.new 1
push constant 65
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 71
call String.appendChar 2
push constant 89
call String.appendChar 2
push constant 75
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 66
call String.appendChar 2
push constant 86
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 22
push local 0
add
push constant 8
call String.new 1
push constant 79
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 87
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 89
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 82
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 23
push local 0
add
push constant 8
call String.new 1
push constant 85
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 89
call String.appendChar 2
push constant 90
call String.appendChar 2
push constant 66
call String.appendChar 2
push constant 66
call String.appendChar 2
push constant 81
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 24
push local 0
add
push constant 8
call String.new 1
push constant 79
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 70
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 25
push local 0
add
push constant 8
call String.new 1
push constant 65
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 66
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 74
call String.appendChar 2
push constant 71
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 26
push local 0
add
push constant 8
call String.new 1
push constant 79
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 87
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 88
call String.appendChar 2
push constant 71
call String.appendChar 2
push constant 87
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 27
push local 0
add
push constant 8
call String.new 1
push constant 69
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 74
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 70
call String.appendChar 2
push constant 74
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 28
push local 0
add
push constant 8
call String.new 1
push constant 85
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 74
call String.appendChar 2
push constant 81
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 80
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 29
push local 0
add
push constant 8
call String.new 1
push constant 85
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 87
call String.appendChar 2
push constant 75
call String.appendChar 2
push constant 74
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 88
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 30
push local 0
add
push constant 8
call String.new 1
push constant 79
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 70
call String.appendChar 2
push constant 88
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 90
call String.appendChar 2
push constant 80
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 31
push local 0
add
push constant 8
call String.new 1
push constant 79
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 88
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 89
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 32
push local 0
add
push constant 8
call String.new 1
push constant 73
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 74
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 90
call String.appendChar 2
push constant 77
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 33
push local 0
add
push constant 8
call String.new 1
push constant 85
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 87
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 74
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 86
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 34
push local 0
add
push constant 8
call String.new 1
push constant 79
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 71
call String.appendChar 2
push constant 90
call String.appendChar 2
push constant 90
call String.appendChar 2
push constant 66
call String.appendChar 2
push constant 87
call String.appendChar 2
push constant 68
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 35
push local 0
add
push constant 8
call String.new 1
push constant 79
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 87
call String.appendChar 2
push constant 87
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 89
call String.appendChar 2
push constant 66
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 36
push local 0
add
push constant 8
call String.new 1
push constant 65
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 70
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 89
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 37
push local 0
add
push constant 8
call String.new 1
push constant 73
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 87
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 88
call String.appendChar 2
push constant 89
call String.appendChar 2
push constant 71
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 38
push local 0
add
push constant 8
call String.new 1
push constant 73
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 66
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 71
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 74
call String.appendChar 2
push constant 66
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 39
push local 0
add
push constant 8
call String.new 1
push constant 65
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 81
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 87
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 72
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 40
push local 0
add
push constant 8
call String.new 1
push constant 73
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 71
call String.appendChar 2
push constant 66
call String.appendChar 2
push constant 87
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 81
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 41
push local 0
add
push constant 8
call String.new 1
push constant 69
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 68
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 42
push local 0
add
push constant 8
call String.new 1
push constant 85
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 71
call String.appendChar 2
push constant 90
call String.appendChar 2
push constant 75
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 81
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 43
push local 0
add
push constant 8
call String.new 1
push constant 85
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 74
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 82
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 44
push local 0
add
push constant 8
call String.new 1
push constant 65
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 70
call String.appendChar 2
push constant 81
call String.appendChar 2
push constant 81
call String.appendChar 2
push constant 74
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 70
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 45
push local 0
add
push constant 8
call String.new 1
push constant 73
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 66
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 87
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 46
push local 0
add
push constant 8
call String.new 1
push constant 85
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 70
call String.appendChar 2
push constant 70
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 77
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 47
push local 0
add
push constant 8
call String.new 1
push constant 73
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 70
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 75
call String.appendChar 2
push constant 66
call String.appendChar 2
push constant 74
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 48
push local 0
add
push constant 8
call String.new 1
push constant 65
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 87
call String.appendChar 2
push constant 81
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 84
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 49
push local 0
add
push constant 8
call String.new 1
push constant 69
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 74
call String.appendChar 2
push constant 87
call String.appendChar 2
push constant 71
call String.appendChar 2
push constant 80
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
return
